%p
	%a{ :href => "/admin/template_files" }> &laquo; back

%form{:method =>:post, :action => "/admin/template_files", :enctype => "multipart/form-data"}
	%label 
		Upload template file
		%input{:type => 'file', :name => 'template_file[file]'}
	%input{ :type => :submit }
