body { font-size: 16px; color: #222; line-height: 1.1em; margin:0; font-family: "Helvetica Neue", verdana, tahoma, arial, sans-serif; }
div#page_container { width: 960px; margin: 5px 10px; }

ol.menu { list-style: none; padding: 5px; margin-top: 0; background-color: #FFF6DD; }
ol.menu li { display: inline; margin: 0 10px; }
ol.menu li a { text-decoration: none; }
ol.menu li a.current { font-weight: bold; text-decoration: underline; }

form label { display:block; padding: 10px 0; }
form input[type="text"] { font-size: 18px; width: 600px;}
form textarea { font-family: "andale mono", courier, tahoma, mono; font-size: 15px; width: 940px; height: 500px; }
form input[type="submit"] { float: right; }