%h1 Site design
%h2= "Replace file: #{@file.file_file_name}"
%form{:method =>:post, :action => "/admin/design/template_files/#{@file.id}", :enctype => "multipart/form-data"}
	%fieldset			
		%input{:type => 'file', :name => 'template_file[file]', :id => 'template_file_file', :style => "float:left;"}
		%input{:type => 'hidden', :name => '_method', :value => 'put'}
		%input{ :type => :submit, :class => "btn large green", :value => "Upload", :style => "float:left;" }
