%ol.menu
	- if request.path_info =~ /^\/admin\/pages/
		%li.current 
			%a{:href => "/admin/pages"} Pages
	- else
		%li
			%a{:href => "/admin/pages"} Pages
	- if request.path_info =~ /^\/admin\/design/
		%li.current
			%a{:href => "/admin/design"} Design
	- else
		%li
			%a{:href => "/admin/design"} Design
	%li{:style => "float: right; font-size: 12px;padding-left: 35px; margin-top:2px;" }
		= user_email
		%a{:href => "/sso/logout", :style => "margin-left: 7px; font-size: 12px;" } Sign out