%h1 Site design
%h2 Upload template file
%form{:method =>:post, :action => "/admin/design/template_files", :enctype => "multipart/form-data"}
	%fieldset
		%input{:type => 'file', :name => 'template_file[file]', :id => 'template_file_file', :style => "float:left;"}
		%input{ :type => :submit, :class => "btn large green", :value => "Upload", :style => "float:left;" }
