%p
	%a{ :href => "/admin/design" } &laquo back
%form{:method =>:post, :action => "/admin/design/template_files", :enctype => "multipart/form-data"}
	%fieldset
		%legend  Upload template file
		%input{:type => 'file', :name => 'template_file[file]', :id => 'template_file_file'}
		%input{ :type => :submit, :class => "btn large green", :value => "Upload" }
